<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/background.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/password-eye.js' %}"></script>
    <title>Account-page</title>
</head>

<body>
    <nav class="navbar navbar-dark mb-2" style="background-color:#3c8dbc;">
        <a href="{% url 'index' %}" class="navbar-brand">INIADマッチングアプリ</a>
    </nav>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="p-3 mb-2 bg-white text-black">
                    {% if reset_pass %}
                    <h1>パスワードを再設定</h1>
                    <form action="{% url 'account' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input id="ID" type="text" name="ID" class="form-control" placeholder="アカウント名(ID)">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> 秘密の合言葉: </span>
                                </div>
                                <input type="text" id="new_secret_key" name="secret_key" class="form-control" placeholder="秘密の合言葉">
                            </div>
                        </div>
                        <!--ここから入力ミスがあった際の警告メッセージ-->
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" >
                            <i class="fas fa-exclamation-triangle"></i> {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <!--ここまで-->
                        <div class="form-group">
                            <input type="submit" name="reset" value="送信" class="btn btn-primary btn-block">
                            <!--<input type="reset" value="リセット" class="btn btn-primary">-->
                        </div>
                        {% if password %}
                        <p>
                            <h2>あなたのパスワードは{{ password }}です</h2>
                            <h2>新しいパスワードに再設定してください</h2>
                            <form action="{% url 'account' %}" method="POST">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> パスワードを再設定してログインしなおす </span>
                                        </div>
                                        <input type="text" id="renew-pass" name="renew_pass" class="form-control" placeholder="新しいパスワード">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="submit" name="resubmit-pass" value="再度ログインする" class="btn btn-primary">
                                    <!--<input type="reset" value="リセット" class="btn btn-primary">-->
                                </div>
                            </form>
                        </p>
                        {% endif %}
                    </form>
                    {% endif %}
                    {% if creat_new %}
                    <h1>アカウントを新規作成</h1>
                    <form action="{% url 'account' %}" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input type="text" id="new_account" name="new_account" class="form-control" placeholder="アカウント名(ID)">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input type="password" id="new_pass" name="password" class="form-control" placeholder="パスワード">
                                <div class="input-group-append">
                                    <div class="input-group-text" id="new-pass-eye-field">
                                        <i class="fa fa-eye" id="new-pass-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> 秘密の合言葉: </span>
                                </div>
                                <input type="text" id="secret_key" name="secret_key" class="form-control" placeholder="パスワードを忘れた際に使用します">
                            </div>
                        </div>
                        {% if false %}
                        <!--ここから入力ミスがあった際の警告メッセージ-->
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" >
                        <i class="fas fa-exclamation-triangle"></i> {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <!--ここまで-->
                        {% endif %}
                        <div class="form-group">
                            <input type="submit" name="creat" value="アカウント作成" {% if success %}class=" alert alert-secondary btn-block" {% else %} class="btn btn-primary btn-block" {% endif %} {% if success %}disabled role="alert"{% endif %} >
                        </div>
                        {% if success %}
                        <!--ここからアカウント作成成功時のメッセージ-->
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert" >
                        <i class="fas fa-address-card fa-lg"></i><strong> {{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <!--ここまで-->
                        <button type="button" onclick= "location.href= '{% url 'login' %}' " class="btn btn-outline-info" >ログインしてアプリを始める</button>
                        {% endif %}
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>

        <script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>

    </div>
</body>

</html>