<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/background.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/password-eye.js' %}"></script>
    <title>Profile check page</title>
</head>

<body>
    <nav class="navbar navbar-dark mb-2" style="background-color:#3c8dbc;">
        <a href="#" class="navbar-brand">INIADマッチングアプリ</a>
    </nav>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="p-3 mb-2 bg-white text-black">
                    <h1 class="text-success">入力内容確認</h1>
                    <p class="text-muted h5">プロフィールの設定が完了しました。</p>
                    <img class="rounded-circle border border-primary" src="media/{{icon}}" alt="icon" width="200" height="200" vspace="10">
                    <p><span class="text-info">ニックネーム：</span>{{ nickname }}</p>
                    <p><span class="text-info">年齢：</span>{{ age }}歳</p>
                    <p><span class="text-info">学年：</span>{{ grade }}年</p>
                    <p><span class="text-info">性別：</span>{{ gender }}</p>
                    <p><span class="text-info">最近よくプレイするゲーム：</span>{{favorite}}</p>
                    <p><span class="text-info">所持しているハードウェア：</span>{{hard}}</p>
                    <p><span class="text-info">自己紹介文：</span>{{ intro }}</p>

                    <form action="{% url 'check' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="ok"><input type="submit" name="ok" value="マッチングを始める" id="ok"
                                    class="btn btn-primary btn-block"></div>
                            <div class="no"><input type="submit" name="no" value="設定をやり直す" id="no"
                                    class="btn btn-outline-secondary btn-block"></div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

</body>

</html>