<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Direct Message</title>
    
</head>
<body>
    <h2>{{ name }}さんとのダイレクトメッセージの一覧です。</h2>
    {% if messages %}
      {% for message in messages %}
      <small><b>{{ message.name }}</b> [{{ message.posted_at }}]</small>
      <div>
        {{ message.body | linebreaksbr }}
      </div>
      {% endfor %}
    {% else %}
      <p>メッセージ送信履歴がありません。</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="textInput">Text</label>
          <textarea id="textInput" name="text" rows="3" class="form-control"></textarea>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">送信</button>
        </div>
    </form>
</body>
</html>