<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <title>Homepage</title>
</head>
<body>
    <nav class="navbar navbar-dark mb-2" style="background-color:#3c8dbc;">
        <a href="{% url 'index' %}" class="navbar-brand">INIADマッチングアプリ</a>
    </nav>    
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 cover-img" style="background-image:url('{% static 'image/gallery_img_01_m.jpg' %}');">
                <div class="cover-element">
                    <div class="cover-text" text-center>
                        <p>ゲーム好きが集う場所、</p>
                        <p>INIADマッチングアプリ</p>
                    </div>
                    <div class="mx-auto" style="width: 200px;">
                        <i class="fas fa-user-friends fa-5x"></i><i class="fas fa-gamepad fa-5x"></i>
                    </div>
                    <button type="button" onclick= "location.href= '{% url 'login' %}' " class="btn btn-primary btn-block" >ログインしてアプリを始める</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>