<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/background.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/password-eye.js' %}"></script>
    <title>Login-page</title>
</head>

<body>
    <nav class="navbar navbar-dark mb-2" style="background-color:#3c8dbc;">
        <a href="{% url 'index' %}" class="navbar-brand">INIADマッチングアプリ</a>
    </nav>

    <div class="container">

        <div class="card">
            <div class="card-body">

                <div class="p-3 mb-2 bg-white text-black">

                    <h1>ログイン</h1>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input id="ID" type="text" name="ID" class="form-control" placeholder="アカウント名(ID)">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input type="password" id="login_pass" name="password" class="form-control"
                                    placeholder="パスワード" required>
                                <div class="input-group-append">
                                    <div class="input-group-text" id="login-pass-eye-field">
                                        <i class="fa fa-eye" id="login-pass-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--ここから入力ミスがあった際の警告メッセージ-->
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" >
                            <i class="fas fa-exclamation-triangle"></i> {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <!--ここまで-->

                        <div class="form-group">
                            <input type="submit" name="login" value="ログイン" class="btn btn-primary btn-block">
                        </div>

                        <!--<input type="reset" value="入力内容をリセット" class="btn btn-secondary">-->
                    </form>


                    <form action="{% url 'account' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="forget">パスワードを忘れましたか？:</label>
                            <input id="forget" type="submit" name="reset_pass" value="パスワードを再設定" class="btn btn-link">
                        </div>

                        <div class="form-group">
                            <label for="creat">初めての人は：</label>
                            <input id="creat" type="submit" name="creat_new" value="アカウントを新規作成" class="btn btn-link">
                        </div>
                    </form>

                </div>
            </div>
        </div>


        <script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>

    </div>
</body>

</html>