<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Matching page</title>
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/background.css' %}">
</head>

<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand navbar-dark" style="background-color:#3c8dbc;">
            <a href="{% url 'index' %}" class="navbar-brand">INIADマッチングアプリ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            {% if usericon %}
                            <img src="media/{{usericon}}" alt="icon" class="rounded-circle" width="25" height="25">
                            {% endif %}
                            {% if account %}
                            {{account}}
                            {% endif %}
                            <span class="sr-only">(current)</span></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <form action="{% url 'matching' %}" method="POST">
                                {% csrf_token %}
                                <li><input type="submit" name="profile_setting" value="プロフィール設定" class="dropdown-item">
                                </li> <!-- 修正 -->
                                <li><input type="submit" name="delete" value="アカウント削除" class="dropdown-item"></li>
                                <!-- 修正 -->
                            </form>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
    </header>

    <div class="container">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">ようこそ！</h4>
            <p>あなたと気の合いそうな人を探してみましょう！</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{% url 'matching' %}" method="POST">
            {% csrf_token %}
            <div class="dropdown text-right">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ユーザー並べ替え
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <input type="submit" name="sort_by_grade-up" value="学年(昇順)" class="dropdown-item">
                    <input type="submit" name="sort_by_grade-down" value="学年(降順)" class="dropdown-item">
                    <input type="submit" name="sort_by_age-up" value="年齢(昇順)" class="dropdown-item">
                    <input type="submit" name="sort_by_age-down" value="年齢(降順)" class="dropdown-item">
                    <input type="submit" name="sort_by_favorite-up" value="趣味(昇順)" class="dropdown-item">
                    <input type="submit" name="sort_by_favorite-down" value="趣味(降順)" class="dropdown-item">
                </div>
            </div>
        </form>
        {% load sample %}
        {% if data %}
        {% for account in data %}
        <div class="card rounded">
            <div class="card-body">
                <div class="p-3 mb-2 bg-white text-black">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="media/{{account.images}}" class="rounded border border-secondary img-thumbnail"
                                alt="icon" width="200" height="140">
                        </div>
                        <div class="col-sm-8">
                            <table class="table table-hover">
                                <tr>
                                    <th><span class="text-info">ニックネーム</span></th>
                                    <td>{{ account.nickname }}</td>
                                </tr>
                                <tr>
                                    <th><span class="text-info">年齢</span></th>
                                    <td>{{ account.age }}歳</td>
                                </tr>
                                <tr>
                                    <th><span class="text-info">学年</span></th>
                                    <td>{{ account.grade.2 }}年</td>
                                </tr>
                                <tr>
                                    {% if account.gender == "['男']" or account.gender == "['女']"%}
                                    <th><span class="text-info">性別</span></th>
                                    <td>{{ account.gender.2 }}</td>
                                    {% endif %}
                                    {% if account.gender == "['その他']" %}
                                    <th><span class="text-info">性別</span></th>
                                    <td>その他</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th><span class="text-info">最近よくプレイするゲーム</span></th>
                                    <td>{{ account.favorite }}</td>
                                </tr>
                                <tr>
                                    <th><span class="text-info">所持しているハードウェア</span></th>
                                    <td>{{ account.hard|cut }}</td>
                                </tr>
                                <tr>
                                    <th><span class="text-info">自己紹介文・連絡先</span></th>
                                    <td>{{ account.intro }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>



    <footer class="footer">
        <div class="container">
            <p class="text-muted"></p>
        </div>
    </footer>
</body>

</html>