<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Profile page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/background.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-dark mb-2" style="background-color:#3c8dbc;">
        <a href="{% url 'index' %}" class="navbar-brand">INIADマッチングアプリ</a>
    </nav>

    <div class="container">

        <div class="card">
            <div class="card-body">
                <div class="p-3 mb-2 bg-white text-black">

                    <h1>プロフィールの設定</h1>
                    <form action="{% url 'profile' %}" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="nickname">
                            <div class="form-group">
                                <label for="nickname">ニックネームの作成</label>
                                <input type="text" name="nickname" id="nickname" class="form-control" placeholder="ここに入力" pattern="^.{2,}$" required {% if nickname %}value="{{nickname}}"{% endif %} >
                                <span class="form-text text-muted">ニックネームは2文字以上入力してください。</span>
                                <div class="invalid-feedback">入力内容に問題があります</div>
                            </div>
                        </div>

                        <div class="age">
                            <div class="form-group">
                                <label for="age">年齢</label>
                                <input type="text" name="age" id="age" class="form-control" placeholder="数字を入力" pattern="^[0-9]+$" required {% if age %}value="{{age}}"{% endif %}>
                                <span class="form-text text-muted">半角数字で入力してください。</span>
                                <div class="invalid-feedback">入力内容に問題があります</div>
                            </div>
                        </div>

                        <div class="grade">
                            <div class="form-group">
                                <div class="row mb-4">
                                    <legend class="col-form-label col-sm-2">学年</legend>
                                    <div class="col-sm-10">
                                        <div class="custom-control custom-control-inline custom-radio">
                                            <input type="radio" name="grade" value="1" id="grade1" class="custom-control-input" required>
                                            <label for="grade1" class="custom-control-label">１年</label>
                                        </div>
                                        <div class="custom-control custom-control-inline custom-radio">
                                            <input type="radio" name="grade" value="2" id="grade2" class="custom-control-input" required>
                                            <label for="grade2" class="custom-control-label">２年</label>
                                        </div>
                                        <div class="custom-control custom-control-inline custom-radio">
                                            <input type="radio" name="grade" value="3" id="grade3" class="custom-control-input" required>
                                            <label for="grade3" class="custom-control-label">３年</label>
                                        </div>
                                        <div class="custom-control custom-control-inline custom-radio">
                                            <input type="radio" name="grade" value="4" id="grade4" class="custom-control-input" required>
                                            <label for="grade4" class="custom-control-label">４年</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gender">
                            <div class="form-group">
                                <div class="row mb-4">
                                    <legend class="col-form-label col-sm-2">性別</legend>
                                    <div class="col-sm-10">
                                        <div class="custom-control custom-control-inline custom-radio">
                                            <input type="radio" name="gender" value="男" id="gender1" class="custom-control-input" required>
                                            <label for="gender1" class="custom-control-label">男</label>
                                        </div>
                                        <div class="custom-control custom-control-inline custom-radio">
                                            <input type="radio" name="gender" value="女" id="gender2" class="custom-control-input" required>
                                            <label for="gender2" class="custom-control-label">女</label>
                                        </div>
                                        <div class="custom-control custom-control-inline custom-radio">
                                            <input type="radio" name="gender" value="その他" id="gender3" class="custom-control-input" required>
                                            <label for="gender3" class="custom-control-label">その他</label>
                                        </div> 
                                    </div>
                                </div>                                 
                            </div>
                        </div>

                        <div class="favorite">
                            <div class="form-group">
                                <label for="favorite">最近よくプレイするゲーム</label>
                                <input type="text" name="favorite" id="favorite" class="form-control" required {% if favorite %}value="{{favorite}}"{% endif %}>
                                <div class="invalid-feedback">入力してください</div>
                            </div>
                        </div>

                        <div class="hard">
                            <div class="form-group">
                                <label for="hard">所持しているハードウェア</label>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="hard" value="switch" class="custom-control-input hard" id="hard1">
                                    <label class="custom-control-label" for="hard1">Nintendo Switch</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="hard" value="PS4" class="custom-control-input hard" id="hard2" >
                                    <label class="custom-control-label" for="hard2">PlayStation 4</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="hard" value="PS5" class="custom-control-input hard" id="hard3">
                                    <label class="custom-control-label" for="hard3">PlayStation 5</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="hard" value="X-BOX" class="custom-control-input hard" id="hard4">
                                    <label class="custom-control-label" for="hard4">XBOX One</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="hard" value="PC" class="custom-control-input hard" id="hard5">
                                    <label class="custom-control-label" for="hard5">PC</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="hard" value="スマートフォン" class="custom-control-input hard" id="hard6">
                                    <label class="custom-control-label" for="hard6">スマートフォン</label>
                                </div>
                            </div>
                        </div>

                        <div class="intro">
                            <div class="form-group">
                                <label for="intro">自己紹介文(SNSのアカウント名や連絡先をご記入ください)</label>
                                <textarea id="intro" name="intro" class="form-control" required>{% if intro %}{{intro}}{% else %}よろしくお願いします{% endif %}</textarea>
                                <div class="invalid-feedback">入力してください</div>
                            </div>
                        </div>
                        
                        
                        <div class="icon">
                            <div class="form-group">
                                <label for="icon">アイコン画像変更</label>
                                <input type="file" name="icon" class="form-control-file" required>
                                <div class="invalid-feedback">選択してください</div>
                            </div>
                        </div>

                        
                        
                        <div class="submit"><input type="submit" name="submit" value="確認に進む" class="btn btn-primary btn-block"></div>
                        

                    </form>

                </div>
            </div>
        </div>
        
    </div>

    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>

    <script>
        // 無効なフィールドがある場合にフォーム送信を無効にするスターターJavaScriptの例
        (function() {
            'use strict';

            let checkedsum; //チェックが入っている個数
    
            window.addEventListener('load', function() {
                // カスタムブートストラップ検証スタイルを適用するすべてのフォームを取得
                var forms = document.getElementsByClassName('needs-validation');
                // ループして帰順を防ぐ
                var validation = Array.prototype.filter.call(forms, function(form) {
                    // submitボタンを押したら以下を実行
                    form.addEventListener('submit', function(event) {
                        
                        checkedsum = $('.hard:checked').length; //チェックが入っているチェックボックスの取得
                        if( checkedsum > 0 ){
                                $('.hard').prop("required",false); //required属性の解除
                            }else{
                                $('.hard').prop("required",true); //required属性の付与
                        }

                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();

                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);

            $('.hard').on("click",function(){
                checkedsum = $('.hard:checked').length; //チェックが入っているチェックボックスの取得
                if( checkedsum > 0 ){
                    $('.hard').prop("required",false); //required属性の解除
                }else{
                    $('.hard').prop("required",true); //required属性の付与
                }
            });

        })();
        

        //{% if grade == "1" %}
        $(function(){
        $("#grade1").prop("checked",true);
            });
        //{% endif %}
        //{% if grade == "2" %}
        $(function(){
            $("#grade2").prop("checked",true);
                });
        //{% endif %}
        //{% if grade == "3" %}
        $(function(){
            $("#grade3").prop("checked",true);
                });
        //{% endif %}
        //{% if grade == "4" %}
        $(function(){
            $("#grade4").prop("checked",true);
                });
        //{% endif %}

        //{% if gender == "男" %}
        $(function(){
            $("#gender1").prop("checked",true);
                });
        //{% endif %}
        //{% if gender == "女" %}
        $(function(){
            $("#gender2").prop("checked",true);
                });
        //{% endif %}
        //{% if gender == "その他" %}
        $(function(){
            $("#gender3").prop("checked",true);
                });
        //{% endif %}
        
        //{% if "switch" in hard %}
        $(function(){
            $("#hard1").prop("checked",true);
                });
        //{% endif %} 
        //{% if "PS4" in hard %}
        $(function(){
            $("#hard2").prop("checked",true);
                });
        //{% endif %}
        //{% if "PS5" in hard %}
        $(function(){
            $("#hard3").prop("checked",true);
                });
        //{% endif %}
        //{% if "X-BOX" in hard %}
        $(function(){
            $("#hard4").prop("checked",true);
                });
        //{% endif %}
        //{% if "PC" in hard %}
        $(function(){
            $("#hard5").prop("checked",true);
                });
        //{% endif %}
        //{% if "スマートフォン" in hard %}
        $(function(){
            $("#hard6").prop("checked",true);
                });
        //{% endif %}

    </script>
</body>
</html>